<div class="baner-primary">
  <b class="baner-primary-title">Малинка даром!</b>
  <p class="baner-primary-text">
    При покупке 2 кг любого фруктового мороженого,
    добавим в ваш заказ банку малинового варенья бесплатно.
 </p>
  <a class="baner-primary-btn btn" href="#">Хочу варенья!</a>
</div>
<div class="baner-primary">
  <b class="baner-primary-title">Шоколадкм даром!</b>
  <p class="baner-primary-text">
    При покупке 2 кг пломбира,
    добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки
    совершенно бесплатно.
  </p>
  <a class="baner-primary-btn btn" href="#">Хочу шоколадки!</a>
</div>
