.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
}

.form-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 15px;
}

.form-group-content {
  position: relative;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 8px 13px;
  line-height: 20px;
  transition: 0.2s;
}

.form-group:first-of-type .form-group-content:hover {
  background-color: #ffffff;
}

.field-select {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.form-group-content:hover .field-select {
  color: #323232;
}

.field-select-text {
  color: #343434;
  font-size: 14px;
}

.field-range-controls-price-item {
  position: relative;
  margin-right: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.field-range-controls-price-item:first-child::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.field-range-controls-price-input {
  width: 30px;
  color: #ffffff;
  border: 0;
  background-color: transparent;
}

.field-range-controls-price-input:focus {
  outline: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.field-range-controls-scale {
  position: relative;
  width: 180px;
  height: 4px;
  margin-top: 8px;
  background-color: #d1dad3;
}

.field-range-controls-bar {
  position: absolute;
  top: 0;
  left: 25px;
  width: 80px;
  height: 4px;
  background-color: #ffffff;
}

.field-range-controls-toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.2s;
}

.field-range-controls-toggle:hover {
  transform: scale(1.1);
}

.field-range-controls-toggle.toggle-min {
  left: 35px;
}

.field-range-controls-toggle.toggle-max {
  left: 100px;
}

.field-radio-input,
.field-checkbox-input {
  display: none;
}

.field-radio-input + .field-radio-text,
.field-checkbox-input + .field-checkbox-text {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.field-radio-input + .field-radio-text::before,
.field-checkbox-input + .field-checkbox-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../img/sprite.png") no-repeat;
  opacity: 0.8;
}

.field-radio-input + .field-radio-text::before {
  top: -3px;
  width: 22px;
  height: 26px;
  background-position: -10px -633px;
}

.field-radio-input:checked + .field-radio-text::before {
  top: 0;
  background-position: -10px -668px;
}

.field-checkbox-input + .field-checkbox-text::before {
  width: 20px;
  height: 20px;
  background-position: -41px -700px;
}

.field-checkbox-input:checked + .field-checkbox-text::before {
  width: 24px;
  height: 24px;
  background-position: -10px -606px;
}

.field-checkbox-text:hover::before,
.field-radio-text:hover::before {
  opacity: 1;
}

.field-radio-input:disabled + .field-radio-text,
.field-checkbox-input:disabled + .field-checkbox-text {
  opacity: 0.4;
}

.field-action {
  padding: 0 25px;
  font-weight: 500;
  color: #ffffff;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: 36px;
  line-height: 36px;
  border: 2px solid #ffffff;
  box-shadow: none;
  text-shadow: none;
  align-self: flex-end;
}

.field-action:hover {
  color: #323232;
  background-image: none;
  background-color: #ffffff;
  box-shadow: none;
}

.field-action:active {
  color: #323232;
  background-image: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
}
