<div class="field-range-controls">
  <div class="field-range-controls-scale">
    <div class="field-range-controls-bar"></div>
  </div>
  <div class="field-range-controls-toggle toggle-min"></div>
  <div class="field-range-controls-toggle toggle-max"></div>
</div>
<label class="field-range-controls-price-item">
  <input class="field-range-controls-price-input" type="number" name="max-price" value="100">
  <span class="field-range-controls-price-text">руб.</span>
</label>
<label class="field-range-controls-price-item">
  <input class="field-range-controls-price-input" type="number" name="min-price" value="500">
  <span class="field-range-controls-price-text">руб.</span>
</label>
