.field-range-controls-price-item {
  position: relative;
  margin-right: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.field-range-controls-price-item:first-child::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.field-range-controls-price-input {
  width: 30px;
  color: #ffffff;
  border: 0;
  background-color: transparent;
}

.field-range-controls-price-input:focus {
  outline: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.field-range-controls-scale {
  position: relative;
  width: 180px;
  height: 4px;
  margin-top: 8px;
  background-color: #d1dad3;
}

.field-range-controls-bar {
  position: absolute;
  top: 0;
  left: 25px;
  width: 80px;
  height: 4px;
  background-color: #ffffff;
}

.field-range-controls-toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.2s;
}

.field-range-controls-toggle:hover {
  transform: scale(1.1);
}

.field-range-controls-toggle.toggle-min {
  left: 35px;
}

.field-range-controls-toggle.toggle-max {
  left: 100px;
}
