.btn {
  display: inline-block;
  padding: 13px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-image: linear-gradient(#f26843, #e74a36);
  outline: 0;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.6);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.7);
}

.btn:hover {
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-color: linear-gradient(#d74632, #e1603e);
  box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}
