<nav class="main-navigation">
  <ul class="main-navigation-list">
    <li class="main-navigation-item">
      <a class="main-navigation-link" href="#">Каталог</a>
      <ul class="main-navigation-submenu">
        <li class="main-navigation-submenu-item">
          <span class="main-navigation-submenu-text">Новинки</span>
        </li>
        <li class="main-navigation-submenu-item">
          <a class="main-navigation-submenu-link" href="#">Сливочное</a>
        </li>
        <li class="main-navigation-submenu-item">
          <a class="main-navigation-submenu-link" href="#">Щербеты</a>
        </li>
        <li class="main-navigation-submenu-item">
          <a class="main-navigation-submenu-link" href="#">Фруктовый лед</a>
        </li>
        <li class="main-navigation-submenu-item">
          <a class="main-navigation-submenu-link" href="#">Мелорин</a>
        </li>
      </ul>
    </li>
    <li class="main-navigation-item">
      <a class="main-navigation-link" href="#">Доставка и оплата</a>
    </li>
    <li class="main-navigation-item">
      <a class="main-navigation-link" href="#">О компании
      </a>
    </li>
  </ul>
</nav>
